// Brand colors
$info: #67C23A;
$infoDarken: darken($info, 10%);

$primary: #409EFF;
$primaryDarken: darken($primary, 10%);

$secondary: #292929;
$secondaryDarken: darken($secondary, 10%);
$secondaryLighten: lighten($secondary, 10%);

$warning: #E6A23C;
$warningDarken: darken($warning, 10%);

$danger: #F56C6C;
$dangerDarken: darken($danger, 10%);

$cyan: #2EBCE8;
$cyanDarken: #2595b8;

$teal: #6acfb5;
$light-blue: #2EBCE8;
$backgroundF2: #F2F2F2;

// Text colors
$primary-text: #21222E;
$secondary-text: #676A6C;
$third-text: #A4AAB3;

// Proposals colors
$proposal-pending: $light-blue;
$proposal-accepted: $teal;
$proposal-danger: $danger;

$colors: (
  primary: $primary,
  secondary: $secondary,
  secondary-dark: $secondaryDarken,
  secondary-light: $secondaryLighten,
  info: $info,
  danger: $danger,
  cyan: $cyan,
  teal: $teal,
  light-blue: $light-blue,
  backgroundF2: $backgroundF2,
  white: white,
  black: black
);
