@import "./_variables.scss";
@import "./helpers/index.scss";

html {
  background: white !important;
  overflow: auto !important;
  height: 100% !important;
  min-height: 100% !important;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100% !important;
  min-height: 100% !important;
  background: white !important;
  padding: 0;
  margin: 0;

  @media only screen and (max-width: $breakpoint-tablet) {
    height: 100vh !important;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.dots-text {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-strong {
  font-weight: 500;
}

.text-center {
  text-align: center !important;
}

.word-wrap {
  word-wrap: break-word;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-30 {
  font-size: 30px !important;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.br-4 {
  border-radius: 4px;
}

.h-100 {
  height: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.btn-rounded {
  border-radius: 30px !important;
  padding-left: 15px;
  padding-right: 15px;
}

$gray-btn-color: #e9e9ea;
.btn-ctk-gray {
  max-width: 100%;
  background-color: $gray-btn-color;
  color: $info;
  border-color: #e9e9ea;
  &:hover {
    background-color: darken($gray-btn-color, 10);
    border-color: darken($gray-btn-color, 10);
    color: $info;
  }
  &:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus {
    color: $info;
    background-color: darken($gray-btn-color, 10);
    box-shadow: 0 0 0 0.2rem transparentize(darken($gray-btn-color, 10), 0.5);
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem transparentize(darken($gray-btn-color, 10), 0.5);
  }
}

.btn-ctk-box-shadow {
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-fab {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 50% !important;
  height: 50px;
  width: 50px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
  border: 0;
  &.btn-primary {
    background-color: $primary;
    color: #FFF;
    &:hover {
      background-color: darken($primary, 5);
    }
  }
  &.btn-sm {
    height: 35px;
    width: 35px;
    padding: 0;
    i.ctk-font {
      font-size: 30px;
    }
  }
  &.btn-no-shadow {
    box-shadow: none !important;
  }
}

// ANIMATION //

.animated {
  -webkit-animation-fill-mode: inherit !important;
  animation-fill-mode: inherit !important;
}
