@font-face {
  font-family: 'ctk-font';
  src: url('./fonts/ctk-font.eot');
  src:
    url('./fonts/ctk-font.eot') format('embedded-opentype'),
    url('./fonts/ctk-font.ttf') format('truetype'),
    url('./fonts/ctk-font.woff') format('woff'),
    url('./fonts/ctk-font.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-ctk'],
[class*=' icon-ctk'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ctk-font', Arial, Helvetica, sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 35px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-ctk-info::before {
  content: "\e900";
}
.icon-ctk-save::before {
  content: "\e901";
}
.icon-ctk-bid::before {
  content: "\e902";
}
.icon-ctk-calendar::before {
  content: "\e903";
}
.icon-ctk-client::before {
  content: "\e904";
}
.icon-ctk-company::before {
  content: "\e905";
}
.icon-ctk-delivery-form::before {
  content: "\e906";
}
.icon-ctk-driver::before {
  content: "\e907";
}
.icon-ctk-expiration-2::before {
  content: "\e908";
}
.icon-ctk-hatch::before {
  content: "\e909";
}
.icon-ctk-height::before {
  content: "\e90a";
}
.icon-ctk-itinary::before {
  content: "\e90b";
}
.icon-ctk-manutention::before {
  content: "\e90c";
}
.icon-ctk-marker::before {
  content: "\e90d";
}
.icon-ctk-pallet::before {
  content: "\e90e";
}
.icon-ctk-phone::before {
  content: "\e90f";
}
.icon-ctk-prepared::before {
  content: "\e910";
}
.icon-ctk-time::before {
  content: "\e911";
}
.icon-ctk-transpallet::before {
  content: "\e912";
}
.icon-ctk-unprepared::before {
  content: "\e913";
}
.icon-ctk-weight::before {
  content: "\e914";
}
.icon-ctk-dimension::before {
  content: "\e915";
}
.icon-ctk-trash::before {
  content: "\e916";
}
.icon-ctk-charged::before {
  content: "\e917";
}
.icon-ctk-done::before {
  content: "\e918";
}
.icon-ctk-pickup::before {
  content: "\e919";
}
.icon-ctk-scheduled::before {
  content: "\e91a";
}
.icon-ctk-started::before {
  content: "\e91b";
}
.icon-ctk-arrow-right::before {
  content: "\e91c";
}
.icon-ctk-save1::before {
  content: "\e91d";
}
.icon-ctk-search::before {
  content: "\e91e";
}
.icon-ctk-sort::before {
  content: "\e91f";
}
.icon-ctk-alert-off::before {
  content: "\e920";
}
.icon-ctk-alert-on::before {
  content: "\e921";
}
.icon-ctk-expiration::before {
  content: "\e922";
}
.icon-ctk-linker::before {
  content: "\e923";
}
.icon-ctk-guide::before {
  content: "\e924";
}
.icon-ctk-map::before {
  content: "\e925";
}
.icon-ctk-list::before {
  content: "\e926";
}
.icon-ctk-edit::before {
  content: "\e927";
}
.icon-ctk-hide::before {
  content: "\e928";
}
.icon-ctk-upload::before {
  content: "\e929";
}
.icon-ctk-truck-schedule::before {
  content: "\e92a";
}
.icon-ctk-truck-confirm::before {
  content: "\e92b";
}
.icon-ctk-truck-wrong::before {
  content: "\e92c";
}
.icon-ctk-close::before {
  content: "\e92d";
}
.icon-ctk-alert::before {
  content: "\e92e";
}
.icon-ctk-bid-2::before {
  content: "\e92f";
}
.icon-ctk-reset::before {
  content: "\e930";
}
.icon-ctk-refresh::before {
  content: "\e931";
}
.icon-ctk-printer::before {
  content: "\e932";
}
.icon-ctk-picture::before {
  content: "\e933";
}
.icon-ctk-mission::before {
  content: "\e934";
}
.icon-ctk-warning::before {
  content: "\e935";
}
.icon-ctk-wallet::before {
  content: "\e936";
}
.icon-ctk-receipt::before {
  content: "\e937";
}
.icon-ctk-help::before {
  content: "\e938";
}
.icon-ctk-drivers::before {
  content: "\e939";
}
.icon-ctk-support::before {
  content: "\e93a";
}
.icon-ctk-width-length::before {
  content: "\e93b";
}
.icon-ctk-clip::before {
  content: "\e93c";
}
