nav ul a,
nav .brand-logo {
  color: #444;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
p {
  line-height: 2rem;
}
a.btn-large i {
  font-size: 26px;
  margin-right: 8px;
}

/* framework */
.margin-0 {
  margin: 0 !important;
}
.padd-tb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* btn for more */
.section-call-to-area {
  display: block;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0px;
  min-height: 1px;
}
.section-call-to-area .row {
  position: relative;
}
.section-call-to-btn:hover, .section-call-to-btn {
  position: absolute;
  bottom: -25px;
}
.section-call-to-btn.button-middle {
  left: 50%;
  margin-left: -27px;
}
/* Profil */
.person-img img {
  border: 8px solid #fff;
  max-width: 360px;
  width: 100%;
}
.about-subtitle {
  font-size: 24px;
  margin-bottom: 30px;
}
.person-about p {
  color: #727272;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 35px;
}
.person-info h5 {
  border-bottom: 1px solid #eeeeee;
  color: #727272;
  font-size: 14px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}
.person-info h5 span {
  display: inline-block;
  min-width: 100px;
}
.about-inner {
  margin: 60px 0;
}
.about-social {
  margin: 25px 0 0;
}
.about-social ul li {
  display: inline-block;
  margin-right: 8px;
}
.about-social ul li a i{
  color: #212121;
  font-size: 14px;
}

/* End Profil */

.headContainer .valign {
  width: 100%;
}
.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
  width: 100%;
}

/*@media only screen and (max-width : 992px) {*/
  /*.parallax-container .section {*/
    /*position: absolute;*/
    /*top: 40%;*/
  /*}*/
  /*#index-banner .section {*/
    /*top: 10%;*/
  /*}*/
/*}*/

/*@media only screen and (max-width : 600px) {*/
  /*#index-banner .section {*/
    /*top: 0;*/
  /*}*/
/*}*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}