@import 'style-helpers';
@import './_style-helpers-override';
@import './_variables';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'vue-input-ui/dist/vue-input-ui.css';
@import './../icons/index';

html,
body,
#__nuxt,
#__layout {
  font: $base-font-weight 16px/1.5 $base-font-family;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $text-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: $brand-color;
}
/* stylelint-disable */
.field {
  .field-input {
    background-color: $background-color-light !important;
  }

  &.is-dark {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset !important;
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    &.is-dark {
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      input:-webkit-autofill:active {
        box-shadow: 0 0 0 30px $background-color-light inset !important;
        -webkit-box-shadow: 0 0 0 30px $background-color-light inset !important;
      }

      input:-webkit-autofill {
        -webkit-text-fill-color: rgba(white, 0.70) !important;
      }
    }
  }
}
/* stylelint-enable */