@import './variables';

.btn {
  display: inline-block;
  height: 50px;
  border-radius: 4px;
  line-height: 50px;
  padding: 0 32px;
  text-decoration: none !important;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;

  &:hover, &:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba($brand-color,.5);
    box-shadow: 0 0 0 0.2rem rgba($brand-color,.5);
  }

  &-sm {
    height: 35px;
    line-height: 35px;
    padding: 0 16px;
    font-size: 14px;
  }

  &-danger {
    &:hover, &:focus {
      -webkit-box-shadow: 0 0 0 0.2rem rgba($danger-color, .5);
      box-shadow: 0 0 0 0.2rem rgba($danger-color, .5);
    }
  }
  
  &-outline {
    background-color: transparent !important;
    border: 1px solid $brand-color;
    color: $brand-color;
    
    &.btn-danger {
      border-color: $danger-color;
      color: $danger-color;

      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}

.br-4 {
  border-radius: 4px;
}
.brt-4 {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.brb-4 {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
