.btn {
  text-decoration: none !important;
  
  &-rounded {
    border-radius: 42px;
  }

  &-sm {
    &.btn-rounded {
      border-radius: 36px;
    }
  }
  
  &-lg {
    &.btn-rounded {
      border-radius: 48px;
    }
  }
  &-disabled, &:disabled {
    background-color: $grey-color;
  }
}

.text-white-muted {
  color: rgba(255, 255, 255, .54)
}