@import 'style-helpers';
@import './_style-helpers-override.scss';
@import './_variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import 'vue-input-ui/dist/vue-input-ui.css';

html,
body {
  font: 400 16px/1.5 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: $text-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  color: $brand-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
}
