.p {
  &-0 {
    padding: 0 !important;
  }
  &t-0 {
    padding-top: 0 !important;
  }
  &b-0 {
    padding-bottom: 0 !important;
  }
  &r-0 {
    padding-right: 0 !important;
  }
  &l-0 {
    padding-left: 0 !important;
  }
  &x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  &y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &-1 {
    padding: 0.25rem !important;
  }
  &t-1 {
    padding-top: 0.25rem !important;
  }
  &b-1 {
    padding-bottom: 0.25rem !important;
  }
  &r-1 {
    padding-right: 0.25rem !important;
  }
  &l-1 {
    padding-left: 0.25rem !important;
  }
  &x-1 {
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
  }
  &y-1 {
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
  }
  &-2 {
    padding: 0.5rem !important;
  }
  &t-2 {
    padding-top: 0.5rem !important;
  }
  &b-2 {
    padding-bottom: 0.5rem !important;
  }
  &r-2 {
    padding-right: 0.5rem !important;
  }
  &l-2 {
    padding-left: 0.5rem !important;
  }
  &x-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }
  &y-2 {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
  }
  &-3 {
    padding: 1rem !important;
  }
  &t-3 {
    padding-top: 1rem !important;
  }
  &b-3 {
    padding-bottom: 1rem !important;
  }
  &r-3 {
    padding-right: 1rem !important;
  }
  &l-3 {
    padding-left: 1rem !important;
  }
  &x-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  &y-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }
}
